.text1 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.statenot-selected-sizemediu {
  border-radius: 0 8px 8px 0;
  background-color: #fff;
  border-top: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  box-sizing: border-box;
  height: 44px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  color: #475569;
  font-family: Inter;
}
